.body{
    display: grid;
    grid-template-areas: "header header header header"
                         "hero hero hero hero"
                         "about about about about"
                         "services services services services"
                         "projects projects projects projects"
                         "footer footer footer footer";
    
    
       
}

/* =========================Grid areas================================== */
/* ===============================header=================================== */

.header{
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
    min-height: 75px;
}
.divlogo{
    display: flex;
    align-items: center;
}
.logomamute{
    width: 80px;
    height: 60px;
}

header a h1{
    font-size: 25px;
    font-weight: 700;
    margin-left: 15px;
    transition: 0.4s ease-in-out;
}
.header nav .menu{
    display: flex;
    font-size: 20px;
}
.header nav .menu li a{
    margin-left: 30px;
    padding: 10px 30px;
    font-weight: 600;
    transition: 0.4s ease-in-out;
    border-radius: 50px;
}
.header a h1:hover{
    color: coral;
}
.header nav .menu li a:hover{
    background-color: coral;
    color: white;
    
}

/* ===============================hero=================================== */
.hero{
    display: flex;
    grid-area: hero;
    background-image: url(../images/CASA4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-direction: column;

}
.hero h2{
    font-size: 40px;
    font-weight: 500;
    text-align: center;
    color: white;
    text-shadow: 1px 1px 1px #000, -1px 1px 1px #000, 1px -1px 1px #000, -1px -1px 1px #000;

    
    
}
.setapreta{ 
    position: absolute;
    margin-bottom: 37px;
    bottom: 0;
    animation: downarrow 0.7s infinite alternate ease-in-out;  
}
@-webkit-keyframes downarrow {
    0% {
        -webkit-transform: translateY(0);
    }

    100% {
        -webkit-transform: translateY(15px);
        opacity: 0.4;
    }
}

/* ====================================about===================================== */

.about{
    grid-area: about;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 2;
    margin: 0 auto;
}
.textabout , .textabout2{
    padding: 20%;
    height: 100%;
}
.textabout p, .textabout2 p{
    margin: 25px 0px ;
}
.about .imagem-about{
    background-image: url(../images/CASA1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 100%;
}
.imagem-about-2{
    background-image: url(../images/CASA4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.about h2{
    font-size: 22px;
}
.about p, .about a{
     font-size: 18px ;
}

.saibamais{
    transition: 0.4s ease-in-out;
}
.saibamais:hover{
    color: coral;
}

/* =================================Services============================================ */

.services{
    grid-area: services;
    display: grid;
    grid-template-columns: repeat(2,1fr);  

}
.bolinha1{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 70px 20px;
 

}
.bolinha1 img{
    margin-bottom: 30px;
    max-width: 100%;
}
.bolinha1 h2 ,.bolinha1 p{
    font-size: 20px;
}
.bolinha1 p{ 
    margin-top: 20px;
    margin-left: 54px;
    margin-right: 54px;
}

.bolinha2{
    background-color: lightpink;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 70px 20px;
    
}
.bolinha2 img{
    margin-bottom: 30px;
    max-width: 100%;
}
.bolinha2 h2 ,.bolinha2 p{
    font-size: 20px;
}
.bolinha2 p{ 
    margin-top: 20px;
    margin-left: 54px;
    margin-right: 54px;
}
/* =================================projects===================================== */
.projects{
    grid-area: projects;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    height: 100%;
    min-height: 55vh;

}

.projects img{
    max-width: 100%;
    height: 100%;
    transition: 0.3s ease-in-out;
}
.projects img:hover{
       opacity: 0.8;
}


/* ==========================footer================================================ */
.footer{
    grid-area: footer;
    background-color: lightgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
}

.footer h2{
    margin-bottom: 15px;
    font-size: 25px;
    font-weight: bold;

}
.footer-links{
    display: flex;
    font-size: 16px;
    font-weight: bold;
    
}
.footer-links li{
    margin: 20px;
    transition: 0.4s ease-in-out;
}
.footer-media{
    display: flex;
    font-size: 25px;
}
.footer-media li{
    margin: 20px; 
    transition: 0.4s ease-in-out;
}
.footer-links li:hover{
    color: white;
    cursor: pointer;
}
.footer .footer-media li:hover{
    color: white;
    cursor: pointer;
}
